* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background-color: rgb(34, 34, 34);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.cruds {
  width: 80%;
  margin: 20px auto;
}

@media (max-width: 991px) {
  .cruds {
    width: 90%;
  }
}
.cruds .header {
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  background: rgb(201, 33, 0);
  background: linear-gradient(
    90deg,
    rgba(201, 33, 0, 1) 33%,
    rgba(0, 161, 118, 1) 58%
  );
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -moz-text-fill-color: transparent;
}
.cruds .header h1 {
  padding: 10px;
  font-size: 40px;
}
.cruds .header p {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
  font-size: 30px;
}
input {
  background-color: #111;
  color: #fff;
  padding: 10px;
  border: none;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
.spantitle {
  position: absolute;
  transform: translate(0px, -66px);
  font-size: 20px;
  text-transform: capitalize;
  width: 60px;
  height: 30px;
  text-align: center;
  transition: 0.3s;
}
input::placeholder {
  text-transform: capitalize;
  font-size: 14px;
}
#title:focus + .spantitle {
  color: white;
  transform: translate(15px, -70px);
  font-size: 25px;
  border: 1px rgb(212, 203, 201) solid;
  border-radius: 10px;
}
input:focus {
  outline: none;
  -o-transform: scale(104%);
  -webkit-transform: scale(104%);
  -moz-transform: scale(104%);
  -ms-transform: scale(104%);
  transform: scale(104%);
  box-shadow: #e6d8d2 2px 2px 9px;
}
#title {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}
.cruds .inputs .price {
  width: 100%;
  margin-bottom: 10px;
}
.cruds .inputs .price input {
  width: 20%;
}
#total {
  background-color: #337e11;
  padding: 5px 3px;
  -o-border-radius: 6px;
  text-transform: capitalize;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
}
#total:before {
  content: "total: ";
}

#count,
#category,
button {
  width: 100%;
  margin-bottom: 10px;
}
button {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  background: rgb(201, 33, 0);
  background: linear-gradient(
    90deg,
    rgba(201, 33, 0, 1) 49%,
    rgba(0, 161, 118, 1) 50%
  );
  color: #fff;
  text-transform: capitalize;
  border: none;
  -o-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
button:hover {
  -o-transform: scale(102%);
  -webkit-transform: scale(102%);
  -moz-transform: scale(102%);
  -ms-transform: scale(102%);
  transform: scale(105%);
  background: rgb(0, 161, 118);
  background: linear-gradient(
    90deg,
    rgba(0, 161, 118, 1) 48%,
    rgba(201, 33, 0, 1) 49%
  );
  color: #000000;
  letter-spacing: 1.2px;
  mix-blend-mode: lighten;
}
#search {
  width: 100%;
}
.searchbtn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

table {
  width: 100%;
  text-align: center;
  margin: 15px auto;
}

table th {
  text-transform: uppercase;
}

@media (max-width: 991px) {
  table {
    font-size: 12px;
  }
}
#update {
  margin-right: 5px;
}
.deleteall {
  margin: 20px;
}
